:root {
  --main-bg-color: #181818;
  --secondary-bg-color: #202020;
  --hover: #4b4b4b;
  --main-text-color: #ffffff;
  --secondary-text-color: #aaaaaa;
  --red: #ff0000;
  --transition-speed: 600ms;
  font-size: 16px;
  font-family: Roboto, Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

.navbar {
  position: fixed;
  background-color: var(--secondary-bg-color);
  transition: width 600ms ease;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--main-text-color);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--hover);
  color: var(--main-text-color);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

#logo-primary, #info-primary, #contact-primary {
  color: black;
}

.fa-primary, .fa-secondary {
  transition: var(--transition-speed);
}

.logo .nav-link{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--main-text-color);
  background: var(--red);
  font-size: 0.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  filter: grayscale(0%) opacity(1);
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 200ms;
}

.navbar:hover .logo svg {
  transform: rotate(-360deg)
}

@media only screen and (max-width: 600px) {
 .navbar {
   bottom: 0;
   width: 100vw;
   height: 5rem;
 }

 .logo .nav-link {
   display: none;
 }

 .navbar-nav {
   flex-direction: row;
 }

 .nav-link {
   justify-content: center;
 }
 
 main {
   margin: 0;
 }
}

@media only screen and (min-width: 600px) {
  .navbar {
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: block;
  }
}
