{% extends "base.html" %}
{% block title %}YT Buddy{% endblock %}
{%block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css')}}">
{% endblock %}
{% block content %}
<div class="center-container">
    <h1 class="title">YT Buddy</h1>
    <p class="subtitle">Convert and download YouTube video and audio online, for <b>free</b>.</p>
    <form class="form" action="#" method="POST">
        <input type="search" placeholder="Paste youtube link here" name="ur" required>
        <button type="submit">Convert</button>
    </form>
</div>
{% endblock %}